<section class="info">
  <div class="fluid-width">
    <h2 class="info__headline">Let’s Make Something Fun Together</h2>
    <img class="info__image" src="/assets/images/nina-pink.png">
    <div class="info__skills-block-holder">
      <div class="info__skills-block">
        <h3>Skills</h3>
        <ul class="cf">
          <li>Adobe Creative Suite</li> 
          <li>Art Direction</li>
          <li>Branding</li>
          <li>CMS</li>
          <li>HTML & CSS</li>
          <li>Iconography</li>
          <li>Illustration</li>
          <li>Interaction</li>
          <li>Photography</li>
          <li>Product Design</li>
          <li>Production</li>
          <li>Sketch</li>
          <li>Social Media</li>
          <li>Web Design</li>
        </ul>
      </div>
      <div class="shadow"></div>
    </div>
    <div class="info__content">
      <h4>Agencies & Clients</h4>
      <div class="column">
        <h5>360i</h5>
        <h5>Beyond</h5>
        <h5>BravoTV</h5>
        <h5>Canon</h5>
      </div>
      <div class="column">
        <h5>Diageo</h5>
        <h5>Google</h5>
        <h5>H&R Block</h5>
        <h5>Huge</h5>
      </div>
      <div class="column">
        <h5>Hunting Season</h5>
        <h5>Mashable</h5>
        <h5>Momofuku</h5>
        <h5>Narrative</h5>
      </div>
      <div class="column">
        <h5>Oscar Mayer</h5>
        <h5>Toyota</h5>
        <h5>Weight Watchers</h5>
        <h5>Xi’an Famous Foods</h5>
      </div>
    </div>
  </div>
  <div class="section-bg"></div>
</section>

<section class="projects">
  <div class="fluid-width cf">
    <h2 class="projects__headline">
      <span>Projects<br>
      2011-present</span>
    </h2>
    <div class="projects__row cf">

      <div class="row-item">
        <div class="date">
          2015_
        </div>
        <div class="content">
          <h4>Google DoubleClick</h4>
          <h5 class="meta">Role: Visual Designer</h5>
          <a target="_blank" href="https://www.doubleclickbygoogle.com/">Visit Site <span class="icon"></span></a>
        </div>
        <div class="description">
          <p>Earlier this year DoubleClick received a much needed rebranding and I participated in the accompanying website redesign.</p>
        </div>
      </div>

      <div class="row-item">
        <div class="date">
          2015_
        </div>
        <div class="content">
          <h4>Sankichi Co.<br>E-Commerce</h4>
          <h5 class="meta">Role: Visual Designer</h5>
          <a>Coming Soon</a>
        </div>
        <div class="description">
          <p>Having finished the branding for Sankichi Co., I brought the aesthetic to the Sankichi Co. webstore.</p>
        </div>
      </div>

      <div class="row-item">
        <div class="date">
          2015_
        </div>
        <div class="content">
          <h4>Sankichi Co. Branding</h4>
          <h5 class="meta">Role: Art Director/Photographer</h5>
          <a target="_blank" href="https://www.behance.net/gallery/28044715/Sankichi-Co">View Work <span class="icon"></span></a>
        </div>
        <div class="description">
          <p>Branding for an online store specializing in Japanese craft. The brand is inspired by vintage Japanese craft and typography.</p>
        </div>
      </div>

      <div class="row-item">
        <div class="date">
          2014_
        </div>
        <div class="content">
          <h4>Canon:<br>Glass First Website</h4>
          <h5 class="meta">Role: Visual Designer</h5>
          <a target="_blank" href="http://glassfirst.usa.canon.com/">Visit Site <span class="icon"></span></a>
        </div>
        <div class="description">
          <p>Through video and informative galleries, Glass First was built to inspire and educate professional photographers and cinematographers. Working with the creative director, I designed interior pages and ui elements.</p>
        </div>
      </div>

      <div class="row-item">
        <div class="date">
          2014_
        </div>
        <div class="content">
          <h4>Xi’an Foods Website</h4>
          <h5 class="meta">Role: Visual Designer</h5>
          <a target="_blank" href="http://glassfirst.usa.canon.com/">Visit Site <span class="icon"></span></a>
        </div>
        <div class="description">
          <p>Working closely with the developer, we redesigned the site from scratch. The customized CMS allows the client to easily change and update the menu and gallery.</p>
        </div>
      </div>

      <div class="row-item">
        <div class="date">
          2014_
        </div>
        <div class="content">
          <h4>Google Material Design</h4>
          <h5 class="meta">Role: Production Designer</h5>
          <a target="_blank" href="https://www.google.com/design/spec/material-design/introduction.html">Visit Site <span class="icon"></span></a>
        </div>
        <div class="description">
          <p>Though I didn’t specifically do any designing here, it was very exciting to be a part of the production team that launched the first iteration of Google’s Material Design.</p>
        </div>
      </div>

      <div class="row-item">
        <div class="date">
          2013_
        </div>
        <div class="content">
          <h4>Toyota:<br>Corporate Website</h4>
          <h5 class="meta">Role: Visual Designer</h5>
          <a target="_blank" href="http://www.toyota.com/usa/">Visit Site <span class="icon"></span></a>
        </div>
        <div class="description">
          <p>Working with the art director, I designed and implemented many modules and templates for this extensive site.</p>
        </div>
      </div>

      <div class="row-item">
        <div class="date">
          2012_
        </div>
        <div class="content">
          <h4>Mashable.com Redesign</h4>
          <h5 class="meta">Role: Senior Designer</h5>
          <a target="_blank" href="http://mashable.com/">Visit Site <span class="icon"></span></a>
        </div>
        <div class="description">
          <p>With over 34 million unique monthly visitors, Mashable needed a facelift. The creative was established by an outside agency, but I worked with editorial and the in-house tech team to apply the aesthetic across the heavily trafficked site. </p>
        </div>
      </div>

    </div>

  </div>
  <div class="section-bg"></div>
</section>