$light-gray:    #f6f6f6;
$med-gray:      #aeaeae;
$dark-gray:     #383838;
$alt-gray:      #646464;
$blog-gray:     #e3e3e3;

$white:         #ffffff;
$pink:          #ffbaba;
$purple:        #9285ab;
$blue:          #013e7c;
$green:         #baffc9;

$break-med:     906px;
$break-small:   420px;