  <section class="blog">
    <article id="post-" role="article" itemscope itemtype="http://schema.org/BlogPosting" class="post">

      <div class="section-bg"></div>
      <div class="fluid-width cf">
        <h2 class="blog__headline">
          <a href="/" rel="bookmark" title=""><span>December Adventure:<br>Adieu, Tokyo</span></a>
        </h2>
        <div class="post-content-holder">
          <div class="post-meta">
            <time class="updated" datetime="2015-05-31" pubdate="">May 31st, 2015</time>
          </div>
          <div class="post-content">
            <p>Nothing good lasts forever, and after five full days of Tokyo it was time to return to NYC. It felt like we had been gone forever, especially since we had spent the previous week traveling around Europe. Next time I definitely want to spend at least two full weeks in Japan, preferably in warmer weather. There are so many things I will miss:</p>
            <div id="attachment_1714" style="width: 610px" class="wp-caption alignnone">
              <img class="size-full wp-image-1714" alt="last_tokyo_02" src="http://ninahazen.com/wp-content/uploads/2015/01/last_tokyo_02.jpg" width="600" height="800">
              <p class="wp-caption-text">The beautiful bentos.</p>
            </div>
            <p>Nothing good lasts forever, and after five full days of Tokyo it was time to return to NYC. It felt like we had been gone forever, especially since we had spent the previous week traveling around Europe. Next time I definitely want to spend at least two full weeks in Japan, preferably in warmer weather. There are so many things I will miss:</p>
            <div id="attachment_1714" style="width: 610px" class="wp-caption alignnone">
              <img class="size-full wp-image-1714" alt="last_tokyo_02" src="http://ninahazen.com/wp-content/uploads/2015/01/last_tokyo_02.jpg" width="600" height="800">
              <p class="wp-caption-text">The beautiful bentos.</p>
            </div>
          </div>
        </div>
      </div>

    </article>
  </section>


    <footer class="single-footer">
      <div class="fluid-width">
        <div class="prev">
          &nbsp;
        </div>
        <div class="next">
          <a href="http://ninahazen.dev/blog/page/2/"><span class="link-text">Next Page ></span></a>&nbsp;
        </div>
      </div>
    </footer>